@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');

@-ms-viewport {
    width: device-width;
}


.bg-purple {
    background-color: #da1581 !important;
}

.bg-pink {
    background-color: #da1577 !important;
}

.bg-warning{
    background-color: #d35704 !important;

}

html,
body {
    scroll-behavior: smooth;
    background: #f5f5f5;
    font-family: 'Quicksand', sans-serif;
    color: #333;
    width: 100%;
}

body {
    background: #f5f5f5;
    color: #3a3b39;
    font-size: 14px;
    width: 100%;
    overflow-x: hidden;
    font-weight: 500;
}

.jumbotron {
    margin-top: 2pc;
    box-shadow: 0px 0px 15px #cdcdcd;
}

.card {
    box-shadow: 0px 0px 15px #cdcdcd;
}

.info_bold {
    font-weight: 700;
}

.card-title {
    font-weight: 700;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee; 
}
th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    h3{
        font-size:14pt;
    }

    h4{
        font-size:12pt;
    }
    
    h5{
        font-size:11pt;
    }
    
    h6{
        font-size:9pt;
    }

    .lead{
        font-size:10pt;
    }
}